langchain
langchain-community
langchain-core
langchain-openai
openai
transformers
sentence-transformers
sentencepiece
huggingface-hub
tiktoken
pypdf
nltk
RapidFuzz
torch
accelerate
numpy
pandas
scikit-learn
scipy
gradio
fastapi
uvicorn
neo4j
protobuf
pydantic
pydantic-core
python-dotenv
matplotlib
seaborn
dowhy
econml
pgmpy
gcastle
pywhy-graphs
lingam
tigramite
pygam
momentchi2
numdifftools
graphviz
pytorch-lightning
requests
python-dateutil
pytz
PyYAML
orjson
typing-extensions
openai
tensorflow
transformers==4.43.3
sentence-transformers
pydantic
pyyaml
huggingface_hub
neo4j
langchain_core==0.3.10
langchain-text-splitters==0.3.0
jsonpatch
typing-extensions
